.settings
.DS_store
build/*
build
bin/
bin/*
target/*
Distribution-osgi/target/exam
*/build/*
out/*
*/out/*
gradlew
gradlew.bat
gradle
.gradle
/Distribution-osgi/target/
/Distribution-osgi/containers-src/water-karaf-distribution-archetype/target/
