################################################################
############## GENERAL WATER PROPERTIES #####################
################################################################

water.testMode=${env:WATER_TEST_MODE:-true}
water.layer=${env:WATER_LAYER:-microservices}
water.nodeId=${env:WATER_NODE_ID:-1}

water.keystore.type=${env:WATER_KEYSTORE_TYPE:-jks}
water.keystore.file=${env:WATER_KEYSTORE_FILE:-${karaf.etc}/certs/server.keystore}
water.keystore.password=${env:WATER_KEYSTORE_PASSWORD:-water.}
water.private.key.password=${env:WATER_PRIVATE_KEY_PASSWORD:-water.}
water.keystore.alias=${env:WATER_KEYSTORE_ALIAS:-server-cert}
water.certificate.signature.algorithm=${env:WATER_CERTIFICATE_SIGNATURE_ALGORITHM:-RS256}

